{% extends 'shop/product/detail.html' %}
{% load static %}
{% load humanize %}
{% block title %}
	{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}   
	<div class="container">
		<div class="mt-2">
			<h2 class="h2 ml-2">{% if category %}{{ category.name }}{% else %}All Products{% endif %}</h2>
		</div>
	
		<div class="row">{% for product in products %}		  
		  <div class="col-md-6 col-sm-6 col-lg-4">
			  <a href="{{ product.get_absolute_url }}">
		          <div class="card mb-4 shadow-sm">
		          	<img src="{% if product.featured %}{{ product.featured.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class='thumbnail' width="100%" height="225" slice focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
			          <div class="card-body">
			          <p id="product-name" class="line-clamp go card-text">{{ product.name|truncatechars:40 }}</p>
			          	<div class="d-flex justify-content-between align-items-center">
			            	<div class="btn-group-sm">
			                  <span class="h6 text-dark">
			                  	&#8377;{{ product.price|intcomma }}</span>
			                </div>
			                <button type="button" 
			                  class="btn btn-sm btn-outline-{% if product.available %}success{% else %}danger{% endif %}">
			                  	{% if product.available %}Instock{% else %}Coming Soon{% endif %}
		                  	</button>
			          	</div>
			          </div>
		          </div>
			  </a>
		  </div>
			  {% endfor %}
  		</div>
      		{% if products.has_other_pages %}
      		<ul class="pagination content">
      			{% if products.has_previous %}
      			  <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number}}">Previous</a></li>
  			    {% else %}
  			      <li class="page-item"><span class="page-link">Previous</span></li>
		      	{% endif %}

		      	{% for i in products.paginator.page_range %}
		      	  {% if products.number == i %}
		      	    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
		      	  {% elif i > results.number|add:'-3' and i < results.number|add:'3' %}
		      	    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
		      	  {% endif %}
	      	    {% endfor %}

	      	    {% if products.has_next %}
	      	      <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
      	        {% else %}
      	          <li class="page-item disabled"><span class="page-link">Next</span></li>
  	            {% endif %}
      		</ul>
      		{% endif %}
		</div>
		{% endblock %}

