{% extends 'shop/product/detail.html' %}
{% load custom_tags %}
{% block title %}
Checkout
{% endblock %}


{% block content %}
<body>

    <div class="container">
      <div class="py-5 text-center">
        <h2>Checkout form</h2>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">Price</span>
          </h4>
          <ul class="list-group mb-3">
	          	{% for item in cart %}
	            <li class="list-group-item d-flex justify-content-between lh-condensed">
	              <div>
	                <h6 class="my-0">{{ item.product }}</h6>
	                <small class="text-muted">{{ item.quantity }}x{{ item.price }}</small>
	              </div>
	              <span class="text-muted">&#8377;{{ item.total_price }}</span>
	            </li>
	            {% endfor %}
	            <li class="list-group-item d-flex justify-content-between">
	              <span>Total (INR)</span>
	              <strong>&#8377;{{ cart.get_total_price }}</strong>
	            </li>
	          </ul>

          <form class="card p-2 disabled" method="POST">
          	{% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" method="POST" novalidate>
          	{% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                {{ form.first_name|addclass:'form-control' }}
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="mobile">Mobile</label>
                {{ form.mobile|addclass:'form-control' }}
                <div class="invalid-feedback">
                  Valid Mobile is required.
                </div>
              </div>
            </div>


            <div class="mb-3">
              <label for="email">Email <span class="text-muted"></span></label>
              {{ form.email|addclass:'form-control' }}
              <div class="invalid-feedback">
                Please enter a valid email address.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Address</label>
              {{ form.address|addclass:'form-control' }}
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="postalCode">Postal Code</label>
                {{ form.postal_code|addclass:'form-control' }}
                <div class="invalid-feedback">
                  Enter Valid Postal Code.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="City">City</label>
                {{ form.city|addclass:'form-control' }}
                <div class="invalid-feedback">
                  Enter your City name.
                </div>
              </div>
            </div>
            
            <hr class="mb-4">
            <p><input class="btn btn-primary btn-lg btn-block" type="submit" value="Place Order"></p>
    	</form>
        </div>
    </div>
</div>
</body>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">BAG IT</p>
        <p class="mb-1">&copy; <span id="lyear"></span>-<span id="iyear"></span></p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href = "mailto: milesstonner@gmail.com">Shipment Queries</a></li>
        </ul>
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script type="text/javascript" >
    $(document).ready(function(){
        $("#id_first_name").attr('placeholder', 'Enter Name');
        $("#id_email").attr('placeholder', 'Enter Email');
        $("#id_mobile").attr('placeholder', '+91');
        $("#id_address").attr('placeholder', 'Street Name');
        $("#id_postal_code").attr('placeholder', 'Postal Code');
        $("#id_city").attr('placeholder', 'coimbatore');

      });
    </script>
    <script type="text/javascript">
      var date = new Date();
      var full_year = date.getFullYear();
      var pre_year = full_year - 1;

      var el = document.getElementById("iyear");
      var nEl = document.getElementById("lyear");
      el.textContent = full_year;
      nEl.textContent = pre_year;

      $(document).ready(function(){
         $('#id_mobile').attr('type', 'number');
      });
    </script>
  </body>
{% endblock %}
